
.panel-heading{ color:#fff; border-color: #1995dc; background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5); background-repeat: no-repeat; }
a { color: #7a008a; text-decoration: none; }
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: #640084;
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-color: #dcc5b5;
    background-image: none;
    background-color: #f5d2ba;
}

.panel-info {
    border-color: #f5d2ba;
}


.login-forgot-password{ float: right; font-size: 80%; position: relative; top: -15px;}
.login-forgot-signin{ float: right; font-size: 80%; position: relative; top: -15px;}
.login-footer-wrapper{ border-top: 1px solid#888; padding-top:15px; font-size:85% }



/*custom*/


::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

html body{ background-color: #FFF; }
background-image{background-position-x: 0px}
body { font: 13px/20px normal Helvetica, Arial, sans-serif; color: #4F5155; margin: 0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; color: #333; background-color: #fff; }
a { color: #42DCA3; background-color: transparent; font-weight: normal; }
h1 { color: #42DCA3; background-color: transparent; border-bottom: 1px solid #D0D0D0; font-size: 19px; font-weight: normal; margin: 0 0 14px 0; padding: 14px 15px 10px 15px;}
code { font-family: Consolas, Monaco, Courier New, Courier, monospace; font-size: 12px; background-color: #f9f9f9; border: 1px solid #D0D0D0; color: #002166; display: block; margin: 14px 0 14px 0; padding: 12px 10px 12px 10px;}
p.footer { text-align: right; font-size: 11px; border-top: 1px solid #D0D0D0; line-height: 32px; padding: 0 10px 0 10px; margin: 20px 0 0 0;}

#body { margin: 0 15px 0 15px; }
#container { margin: 10px; border: 1px solid #D0D0D0; box-shadow: 0 0 8px #D0D0D0; }

.slider-thumbs{ width: 80%; right: 10%; left: 10%; margin: 0 auto;}
.sliderThumb{ }
.block{display: block;}
.jqmOverlay { background: #000000; height: 100%; width: 100%; display: none; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); opacity: 0.8; left: 0; top: 0; position: fixed; z-index: 999; }
.jqmModal { background-color: black; display: none; z-index: 999; position: absolute; top: 30%; left: 20%; right: 20%; margin: 0 auto; width: 60%; padding: 30px; }
.intro { display: table; width: 100%; height: auto; padding: 100px 0; text-align: center; color: white; background: none; background-color: black; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
.background-image { display: table; width: 100%; height: auto; padding: 100px 0; text-align: center; color: white; background: url(../../assets/img/web/intro-bg.jpg) no-repeat bottom center scroll; background-color: black; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
.download-section { width: 100%; padding: 50px 0; color: white; background: url(../../files/images/downloads-bg.jpg) no-repeat center center scroll; background-color: black; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
.navbar-custom{ background: #4a5764; background: -webkit-linear-gradient(#4a5764, #000000); background: -o-linear-gradient(#4a5764, #000000); background: -moz-linear-gradient(#4a5764, #000000); background: linear-gradient(#4a5764, #000000); }
.navbar-custom a { color: #FFF; }
.main-logo{ width: 250px; }
.font100{ font-size: 100px;}
.colorGreen:hover{ color:#42DCA3; }
.height250{height: 250px;}
.height32{height: 32px}
.height16{height: 16px}
.paddingRight5{padding-right: 5px;}
.paddingTop75{padding-top: 75px;}
.paddingTop15{padding-top: 15px;}
.marginTop50{ margin-top: 50px;}

.login-container{background-color: #f1f1f1; padding: 20px; border-radius: 10px; }
.loginWrapper{ width: 100%; text-align: center; padding-bottom: 20px;}

.system-textbox{ width: 100%; height: 30px; border-radius: 5px; background-color: #fff !important; padding: 5px;}
input:-webkit-autofill { -webkit-box-shadow:0 0 0 50px white inset; -webkit-text-fill-color: #333; }
input:-webkit-autofill:focus { -webkit-box-shadow: 0 0 0 50px white inset; -webkit-text-fill-color: #333; } 

.margin0 {margin: 0 !important}
.login-wrapper {display: block; padding-left: 17px; position: relative; top: 10%;}

.hovereffect { width: 100%; height: 160px; float: left; overflow: hidden; position: relative; text-align: center; cursor: default; }
.hovereffect .overlay { width: 100%; height: 100%; position: absolute; overflow: hidden; top: 0; left: 0; background-color: rgba(0,0,0,0.6); opacity: 0; filter: alpha(opacity=0); -webkit-transform: translate(460px, -100px) rotate(180deg); -ms-transform: translate(460px, -100px) rotate(180deg); transform: translate(460px, -100px) rotate(180deg); }
.hovereffect img { display: block; position: relative; -webkit-transition: all 0.1s ease-in; transition: all 0.1s ease-in; }
.hovereffect h2 { text-transform: uppercase; color: black; margin: 0; text-align: center; position: relative; font-size: 12px; padding: 10px; }
.hovereffect a.info { display: inline-block; text-decoration: none; padding: 7px 14px; text-transform: uppercase; color: #42DCA3; border: 1px solid #42DCA3; margin: 50px 0 0 0; background-color: transparent; -webkit-transform: translateY(-200px); -ms-transform: translateY(-200px); transform: translateY(-200px); -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
.hovereffect a.info:hover { box-shadow: 0 0 5px #42DCA3; border: 1px solid #42DCA3; outline: 0; color: #000; background-color: #42DCA3; }
.hovereffect:hover .overlay { opacity: 1; filter: alpha(opacity=100); -webkit-transition-delay: 0s; transition-delay: 0s; -webkit-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px); transform: translate(0px, 0px); }
.hovereffect:hover h2 { -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); -webkit-transition-delay: 0.5s; transition-delay: 0.5s; }
.hovereffect:hover a.info { -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); -webkit-transition-delay: 0.1s; }

.btn-circle:focus, .btn-circle:hover { outline: 0; color: #42DCA3; border-color: #42DCA3; background: rgba(255,255,255,.1); }
.navbar-custom .nav li a:hover { color: #42DCA3; }

@media (min-width: 768px){
    p { margin: 0 0 35px; font-size: 18px; line-height: 1.6; }
    .jqmModal {font-size: 20px; color: #fff;  background-color: black; display: none; z-index: 999; position: absolute; top: 30%; left: 10%; right: 10%; margin: 0 auto; width: 80%; padding: 30px; }
    .intro { padding: 0; }
    .navbar-custom.top-nav-collapse { padding: 0; border-bottom: 1px solid rgba(255,255,255,.3); background: #4a5764; background: -webkit-linear-gradient(#4a5764, #000000); background: -o-linear-gradient(#4a5764, #000000); background: -moz-linear-gradient(#4a5764, #000000); background: linear-gradient(#4a5764, #000000);}
    .navbar-custom.top-nav-collapse a  { color: #ffffff; }
    .content-section { padding-top: 150px; }
}
@media (min-width: 987px){
    p { margin: 0 0 35px; font-size: 14px; line-height: 1.6; }
}

.page-header { padding-bottom: 9px; margin: 40px 0 10px; border-bottom: none; }
.thumbnail { height: 420px; display: block; padding: 4px; margin-bottom: 20px; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out; }
.form-control:focus { border-color: #42DCA3; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); }